---
import MainHead from '../components/MainHead.astro';
import Aside from '../components/Aside.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
	<head>
		<MainHead title="Nadix Snow: DJ Profile" description="The passion for rhythms of Nadix Snow" />
	</head>
	<body>
		<Aside />
		<Footer />
	</body>
</html>
