---
import MainHead from '../components/MainHead.astro';
import Aside from '../components/Aside/index.jsx';
import Footer from '../components/Footer/index.jsx';
---
<html lang="en">
	<head>
		<MainHead title="Nadix Snow: DJ Profile" description="The passion for rhythms of Nadix Snow" />
		<style lang="scss">
		</style>
    
	</head>
	<body>
		<Aside />
		<Footer />
	</body>
</html>
