---
import BaseHead from '@components/BaseHead.astro'
import Social from '@components/Social.astro'
import Footer from '@components/Footer.astro'
---

<html lang="en">
	<head>
		<BaseHead title="Nadix Snow: DJ Profile" description="The passion for rhythms of Nadix Snow" />
	</head>
	<body>
		<Social />
		<Footer />
	</body>
</html>
